<google-map center="map.center" zoom="map.zoom" draggable="true">
    <markers models="map.markers" coords="'self'" click="'onClicked'" fit='false'>
        <windows show="'showWindow'" closeclick="'closeClick'" ng-cloak>
            <p>{{ initials }} was here!</p>
            <p>{{ date }}</p>
            <p ng-non-bindable>{{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>
        </windows>
    </markers>
</google-map>
<div class="bottom-panel" class="col-xs-12">

    <div class="chat-panel">
        <div class="chat-item" data-ng-repeat="location in locations" data-ng-click="setCenter(location)">
            <strong>{{ location.initials }}:</strong> {{ location.latitude | number:4 }}, {{ location.longitude | number:4 }}
        </div>
    </div>
    <button id="btCheckIn" class="btn btn-block btn-success" type="button" data-ng-click="checkIn()">Check In</button>
</div>